version: '3'
services:
  api_db:
    container_name: red-ride_api_db
    image: postgres:9.6.15
    environment:
      PGDATA: "/var/lib/postgresql/data/pgdata"
      POSTGRES_PASSWORD: ""
      POSTGRES_USER: "red-ride"
    volumes:
      - ./tmp/postgresql-data:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
